{{>header}}
{{>nav}}
<section class=" my-5 container">
    {{#if error}}
        <div class="alert alert-danger">
            {{error}}
        </div>
    {{else}}
        <div class="row">
            {{#each data}}
                <div class="col-3 border ">
                    <h3>{{this.title}}</h3>
                    <p>{{this.id}}</p>
                    <a href="/todo/{{this.id}}" class="btn btn-primary">more</a>
                </div>
            {{/each}}    
        </div>
    {{/if}}

</section>

{{>footer}}